{% block content %}
	<form action="" method="POST" name="post" enctype=multipart/form-data>
		{{ form.hidden_tag() }}
		<table>
			<tr>
				<td>Name: {{ form.name(size=20) }} Trip: {{ form.tripcode(size=10) }} Email: {{ form.email(size=20) }} Title: {{ form.title(size=20) }}</td>
			</tr>
			<tr>
				<td>{{ form.body(size=100) }}</td>
			</tr>
			<tr>
				<td><input type=file name=file></td>
			</tr>
			{% for error in form.errors %}
				<span>{{ error }}</span>
			{% endfor %}<br>
		</table>
		<input type="submit" value="Submit">
	</form>
	<hr>
{% endblock %}
